@import "../../partials/styles";

.dashboard {
  background: linear-gradient(135deg, #fff5c3, #9452a5);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  // width: 100%;

  &__title {
    color: #f3f3f3;
    font-size: 4rem;

    @include mobile {
      font-size: 2rem;
    }
  }

  &__container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 20px;
    max-width: 50%;
    margin-bottom: 60px;

    @include mobile {
      max-width: 75%;
    }
  }

  &__btn {
    background-color: #fff;
    color: #615aa3;
    padding: 6px 12px;
    border: 2px solid #ddd;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 600ms ease;

    &:hover {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }
  }

  &__utils {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__util-btn {
    margin-top: 20px;
    color: #615aa3;
    cursor: pointer;
    transition: 600ms ease;

    &:hover {
      color: #997cc9;
    }
  }
  &__util {
    margin-top: 20px;
    color: #615aa3;
    transition: 600ms ease;

    &:hover {
      color: #997cc9;
    }
  }

  &__tip-container {
    max-width: 200px;
  }
  &__tip {
    color: #615aa3;
    &--bold {
      color: #615aa3;
      font-weight: bold;
    }
  }
}
