@import "../../partials/styles";

.palette {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-bottom: 20px;

  &__swatch-wrapper {
    height: 60px;
    width: 60px;
    margin: 6px;

    @include mobile {
      height: 30px;
      width: 30px;
    }
  }
  &__swatch-btn {
    background-color: #e3e3e3;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline-offset: 4px;
    -webkit-box-shadow: 0px 5px 9px 2px #dad2d1b9;
    box-shadow: 0px 5px 15px 0px #dad2d1b9;

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }
  &__swatch {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 4px;
    font-size: 1.25rem;
    transform: translateY(-6px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);

    &:hover {
      transform: translateY(-8px);
      transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
    }

    @include mobile {
      height: 30px;
      width: 30px;
    }
  }
  &__swatch-active {
    transform: translateY(-3px);

    &:hover {
      transform: translateY(-3px);
    }
  }
}
